[Desktop Entry]
Name=Main Menu
Name[af]=Hoofmenu
Name[cs]=Hlavní menu
Name[da]=Hovedmenu
Name[de]=Hauptmenü
Name[es]=Menú Principal
Name[fi]=Päävalikko
Name[fr]=Menu Principal
Name[is]=Aðalvalmynd
Name[it]=Menù Principale
Name[nl]=Hoofdmenu
Name[no]=Hovedmeny
Name[pl]=Menu Główne
Name[pt]=Menu Principal
Name[ru]=Главное меню
Name[sv]=Huvudmeny
Name[tr]=Ana Menü
Name[uk]=Головне меню
Comment=Customize the menu
Comment[af]=Pas die menu aan
Comment[cs]=Přizpůsobit menu
Comment[da]=Tilpas menuen
Comment[de]=Das Menü bearbeiten
Comment[es]=Modificar el menú
Comment[fi]=Mukauta valikkoa
Comment[fr]=Modifier le menu
Comment[is]=Sérsníða valmyndina
Comment[it]=Modifica il menù
Comment[nl]=Menu aanpassen
Comment[no]=Tilpass menyen
Comment[pl]=Edycja menu
Comment[pt]=Personalize o menu
Comment[ru]=Настройка меню
Comment[sv]=Anpassa menyn
Comment[tr]=Menüyü Özelleştir
Comment[uk]=Налаштування меню
Keywords=libre-menu-editor;app;desktop;editor;entry;launch;menu;shortcut;start

Type=Application
Icon=page.codeberg.libre_menu_editor.LibreMenuEditor
Exec=libre-menu-editor %F
MimeType=application/x-desktop
Categories=GNOME;GTK;Utility

StartupNotify=true
StartupWMClass=libre-menu-editor
X-GNOME-SingleWindow=true
X-Purism-FormFactor=Workstation;Mobile;
X-Flatpak=page.codeberg.libre_menu_editor.LibreMenuEditor

Actions=new-launcher

[Desktop Action new-launcher]
Name=New Launcher
Name[af]=Nuwe lanseerder
Name[cs]=Nový launcher
Name[da]=Ny starter
Name[de]=Neuer Starter
Name[es]=Nuevo Lanzador
Name[fi]=Uusi launcher
Name[fr]=Nouveau Lanceur
Name[is]=Nýr Launcher
Name[it]=Nuovo Lanciatore
Name[nl]=Nieuwe launcher
Name[no]=Ny starter
Name[pl]=Nowy Launcher
Name[pt]=Novo lançador
Name[ru]=Новая установка
Name[sv]=Ny startare
Name[tr]=Yeni Başlatıcı
Name[uk]=Новий стартер
Exec=libre-menu-editor --new
