[Desktop Entry]
Name=Main Menu
Name[de]=Hauptmenü
Name[es]=Menú Principal
Name[fr]=Menu Principal
Name[it]=Menù Principale
Name[pl]=Menu Główne
Name[tr]=Ana Menü
Comment=Customize the menu
Comment[de]=Das Menü bearbeiten
Comment[es]=Modificar el menú
Comment[fr]=Modifier le menu
Comment[it]=Modifica il menù
Comment[pl]=Edycja menu
Comment[tr]=Menüyü Özelleştir
Keywords=libre-menu-editor;app;desktop;editor;entry;launch;menu;shortcut;start

Type=Application
Icon=page.codeberg.libre_menu_editor.LibreMenuEditor
Exec=libre-menu-editor %F
MimeType=application/x-desktop
Categories=GNOME;GTK;Utility

StartupNotify=true
StartupWMClass=libre-menu-editor
X-GNOME-SingleWindow=true

X-Flatpak=page.codeberg.libre_menu_editor.LibreMenuEditor
Actions=new-launcher

[Desktop Action new-launcher]
Name=New Launcher
Name[de]=Neuer Starter
Name[es]=Nuevo Lanzador
Name[fr]=Nouveau Lanceur
Name[it]=Nuovo Lanciatore
Name[pl]=Nowy Launcher
Name[tr]=Yeni Başlatıcı
Exec=libre-menu-editor --new
